/* Main Login And Sign Up form Page CSS */
body{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: ghostwhite;
}

.duple-user{
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 450px;
}

.duple-user h1{
    text-transform: uppercase;
}

.duple-form{
  display: flex;
  flex-direction: column;
}

.duple-form div{
    display: flex;
    flex-direction: column;
}

label{
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

input{
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  border-radius: 6px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
}

input:focus{
  border-color: #007bff;
}

.duple-btn{
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 12px 24px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.duple-btn:hover{
  background-color: #0056b3;
}

/* Navigation Styling  */
nav{
  font-family: 'Arial', sans-serif;
  background-color: #007bff;
  color: #fff;
  padding: 15px 20px;
}

ul{
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
}

li{
  margin-left: 20px;
  text-transform: uppercase;
}

a{
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease;
}

a:hover{
  color: black; 
}

.message{
    color: red;
}

/* Mobile Responsive  */
@media screen and (max-width:450px) {
    body{
        display: block;
        background-color: ghostwhite;
    }
    .duple-user{
        width:auto;
        box-shadow: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        background-color: ghostwhite;   
    }
    .duple-user h1{
        text-align: center;
    }
    .duple-form{
        margin-top: 25px;
    } 
}